*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-web{
    max-width: 1700px;
    margin: 0 auto;
    
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    background: #303133;
    }  

ul.menu{
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

ul.menu li{
    list-style: none;
    margin-right: 30px;
}

ul.menu li a{
    color: white;
    text-decoration: none;
}

/* End Nav-bar */

nav1 {
    display: flex;
    height: auto;
    background: #F03F45;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle { 
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    
}

.logo {
    margin: 40px 0 40px 0;
}

ul1 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul1 li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 5px 10px;
    
}

ul1 li a {
    text-decoration: none;
    color: white;
    
}

ul1 li:first-child {
    margin-top: 0;
}



.active {
    display: flex;
}

@media screen and (min-width: 1000px) {
    nav1 {
        height: 80px;
        flex-direction: row;
    }
    .logo {
        padding-left: 50px;
        margin: 0;
        width: 0;
    }
    ul1 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    ul1 li{
        font-size: 15px;
        display: inline-block;
        margin: 0 50px 0 50px;
        text-align: center;
        border-bottom-style:none;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }
}

/* End nav-bar-menu */
/* End nav-bar-menu */

.header-pic{
    width: 100%;
    background-color: #303133;
    height: 500px;
}

/* End header-pic */

.calculator-box{
    background-color: orangered;
    height: auto;   
    width: auto;
    /* padding-top: 35px; */
}

.box-flex{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0px #888888;
}

.box-size{
    background-color: orchid;
    
}

.box-size select{
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: auto;
}

.box-location select{
    font-size: 20px;
    height: 50px;
    width: auto;
}

.box-location{
    background-color: palegoldenrod;
}
/* footer */
.container-fluid
{
    width: auto;
    height: auto;
    background: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}
.container-fluid p
{
    color: #fff;
}
.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
