*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-web{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: brown; */
    background-color: #FFFFFF;
}

nav{
    background-color: #303133;
}

.nav-bar-top{
    background-color: #303133;
}

.nav-bar-top h1{
    color: white;
}

.nav-bar-top{
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

ul.menu-top{
    margin-top: 7px;
}

ul.menu-top li{
    list-style: none;
}

ul.menu-top li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
}

/* End nav-top */

nav1 {
    display: flex;
    height: auto;
    background: #F03F45;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle { 
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    
}

.logo {
    margin: 40px 0 40px 0;
}

ul1 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul1 li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 5px 10px;
    
}

ul1 li a {
    text-decoration: none;
    color: white;
    
}

ul1 li:first-child {
    margin-top: 0;
}



.active {
    display: flex;
}

@media screen and (min-width: 1000px) {
    nav1 {
        height: 80px;
        flex-direction: row;
    }
    .logo {
        padding-left: 50px;
        margin: 0;
        width: 0;
    }
    ul1 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    ul1 li{
        font-size: 15px;
        display: inline-block;
        margin: 0 50px 0 50px;
        text-align: center;
        border-bottom-style:none;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }
}

/* End nav down */

.header{
    width: 100%;
    height: 500px;
    background-color: #F03F45;
}

/* End header */

.content{
    height: 500px;
    background-color: #FFFFFF;
}

.calculator{
    margin-top: 10px;
    width: 100%;
    font-weight: bold;

    
}

.box-pack{
    display: flex;
    margin-top: 90px;
}

.calculator a{
    text-decoration: none;
    color: #818191;
}

.calculator select{
    height: 50px;
    width: 50%;
    font-size: 20px;
    border: none;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
}

.cost-box{
    margin: 0 auto;
    width: 70%;
    height: 50px;
    background: #F9FAFC;
}

.box1{
    margin-top: 50px;
}

.enter-box{
    margin-top: 50px;
    width: 100%;
}

.enter{
    display: flex;
    justify-content: flex-end;
}

.enter button{
    height: 67px;
    background-color: #F03F45;
    font-size: 20px;
    border: none;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
}
.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.header{
    position: relative;
  animation-name: header;
  animation-duration: 1s;  
  animation-fill-mode:forwards;
}

@keyframes header {
    from {bottom: 400px;}
    to {bottom: 0px;}
  }
