*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-web{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: brown; */
    background-color: #FFFFFF;
}

nav{
    background-color: #303133;
}

.nav-bar-top{
    background-color: #303133;
}

.nav-bar-top h1{
    color: white;
}

.nav-bar-top{
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

ul.menu-top{
    margin-top: 7px;
}

ul.menu-top li{
    list-style: none;
}

ul.menu-top li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
}

/* End nav-top */

.nav-down{
    background-color: #F03F45;
    height: 75px;
    box-shadow: 0px 10px #e9d62e;
}

.nav-down-down{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #F03F45;
    height: 75px;
    align-items: center;
}


ul.logo li{
    list-style: none;
}

ul.nav-down-menu{
    margin-right: 50px;
}


ul.nav-down-menu li{
    list-style: none;
    margin-right: 300px;
}

ul.nav-down-menu li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}

/* End nav down */

.header{
    width: 100%;
    height: 500px;
    background-color: #303133;
}

/* End header */

.content{
    height: 500px;
    background-color: #FFFFFF;
}

.calculator{
    margin-top: 10px;
    width: 100%;
    font-weight: bold;

    
}

.box-pack{
    display: flex;
    margin-top: 90px;
}

.calculator a{
    text-decoration: none;
    color: #818191;
}

.calculator select{
    height: 50px;
    width: 50%;
    font-size: 20px;
    border: none;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
}