*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-web{
    max-width: 1200px;
    margin: 0 auto;
    
    
}

nav{
    background-color: #303133;
}

.nav-bar-top{
    background-color: #303133;
}

.nav-bar-top h1{
    color: white;
}

.nav-bar-top{
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

ul.menu-top{
    margin-top: 7px;
}

ul.menu-top li{
    list-style: none;
}

ul.menu-top li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
}


/* End Nav-bar */
nav1 {
    display: flex;
    height: auto;
    background: #F03F45;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle { 
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    
}

.logo {
    margin: 40px 0 40px 0;
}

ul1 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul1 li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 5px 10px;
    
}

ul1 li a {
    text-decoration: none;
    color: white;
    
}

ul1 li:first-child {
    margin-top: 0;
}



.active {
    display: flex;
}

@media screen and (min-width: 1000px) {
    nav1 {
        height: 80px;
        flex-direction: row;
    }
    .logo {
        padding-left: 50px;
        margin: 0;
        width: 0;
    }
    ul1 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    ul1 li{
        font-size: 15px;
        display: inline-block;
        margin: 0 50px 0 50px;
        text-align: center;
        border-bottom-style:none;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }
}

.container-web a{
    text-decoration: none;
    color: #818191;
}

/* End nav-bar-menu */
/* pic */
/* .container-pic
{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
} */
/* card */
.container-card
{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    background-color: #fff;
}
.body-card
{
    position: relative;
    width: 350px;
    height: 480px;
    margin: 28px;
    border-radius: 20px;
    background:snow;
    overflow: hidden;
}
.body-card:hover
{
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.card-header
{
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding: 50px 10px;
    background-color: #F03F45;
    color: #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}    
.content
{
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}
.content h2
{
    color: #000;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}
.content p
{
    color: #000;
}
.content a
{
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #F03F45;
    margin-top: 10px;
    text-decoration: none;
}
/* footer */
.container-fluid
{
    width: auto;
    height: auto;
    background: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}
.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}