*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-web{
    max-width: 1600px;
    margin: 0 auto;
    
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    background: #303133;
    }  

ul.menu{
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

ul.menu li{
    list-style: none;
    margin-right: 30px;
}

ul.menu li a{
    color: white;
    text-decoration: none;
}

/* End Nav-bar */

.nav-menu-list{
    align-items: center;
    display: flex;
    background: #772CE8;
}

.nav-menu-list h1{
    margin-left: 150px;
    margin-right: 60px;
}


ul.menulist{
    align-items: center;
    display: flex;
    height: 75px;
}

ul.menulist li {
    margin-right: 150px;
    list-style: none;
}

ul.menulist li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* End nav-bar-menu */

.header-pic{
    width: 100%;
    background-color: #303133;
    height: 500px;
}

/* End header-pic */

.input-box{
    margin: 10px 340px;
    width: 900px;
    height: 100px;
}

.input-track{
    /* border:  solid; */
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0px #888888;
    text-align: center;
}

.input-text{
    border: none;
    color: gray;
    font-size: 30px;
    width: 640px;
    height: 100px;
}

.enter-track{
    width: 100px;
    height: 65px;
    border: none;
    background-color: #772CE8;
    font-size: 20px;
}

.input-track i {
    margin-right: 30px;
        font-size: 40px;
}

/* End track bar */

.Cost{
    
    padding: 50px;
    margin: 10px;
    background-color:  #F9FAFC;
    height: 500px;
}

.Cost-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cost-item{
    height: 400px;
    
}

.cost-item img {
    height: 400px;
    width: 580px;
}

.potal-code{
    border: 2px solid #EBEDF0;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    height: 100px;
    width: 590px;
    border-radius: 5px;
    
}

.weight{
    border: 2px solid #EBEDF0;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    width: 590px;
    height: 50px;

}

.cost-item h1{
    font-weight: lighter;
}

.weight-item-weight{
    padding-top: 10px;
    text-align: center;
    width: 130px;
    border-right: black solid 0.5px;
}

.weight-item-input{
    margin: 4px;
}

.weight h4 {
    color: #606266;
    margin-left: 10px;
    margin-top: 15px;
}

.weight-item-input input{
    border: none;
    width: 400px;
    height: 40px;
}

.weight-item-weight h3{
    color: #606266;
}

.volume{
    background-color: #FFFFFF;
    display: flex;
    margin-top: 20px;
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #EBEDF0;
}

.volume-item-text {
    
    text-align: center;
   width: 130px;
   border-right: black solid 0.5px;
}

.volume-item-text h3{
    color: #606266;
    margin-top: 12px;
}

.volume-item input {
    margin: 4px;
    margin-left: 3px;
    border: none;
    width: 150px;
    height: 40px;
    
}

.Cost p {
    color: #909399;
    margin-top: 5px;
}


