*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-color: #FFEA33;
    height: 500px;
}


.navbar-top{
    background-color: #FFEA33;
    display: flex;
    justify-content: flex-end;
}

.nav-menu{
    display: flex;
}
