*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-web{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: brown; */
    background-color: #FFFFFF;
}

nav{
    background-color: #303133;
}

.nav-bar-top{
    background-color: #303133;
}

.nav-bar-top h1{
    color: white;
}

.nav-bar-top{
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

ul.menu-top{
    margin-top: 7px;
}

ul.menu-top li{
    list-style: none;
}

ul.menu-top li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
}

/* End nav-top */

nav1 {
    display: flex;
    height: auto;
    background: #F03F45;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle { 
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    
}

.logo {
    margin: 40px 0 40px 0;
}

ul1 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul1 li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 5px 10px;
    
}

ul1 li a {
    text-decoration: none;
    color: white;
    
}

ul1 li:first-child {
    margin-top: 0;
}



.active {
    display: flex;
}

@media screen and (min-width: 1000px) {
    nav1 {
        height: 80px;
        flex-direction: row;
    }
    .logo {
        padding-left: 50px;
        margin: 0;
        width: 0;
    }
    ul1 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    ul1 li{
        font-size: 15px;
        display: inline-block;
        margin: 0 50px 0 50px;
        text-align: center;
        border-bottom-style:none;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }
}

/* End nav down */

.header{
    width: 100%;
    height: 500px;
    background-color: #303133;
}


.input-box{
    margin-left: 150px;
    /* width: 900px; */
    width: 75%;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 60px;
    box-shadow: 5px 10px 20px 1px #7e8186;
    border-radius: 10px;
}

.input-box i{
    font-size: 30px;
    color: #606266;
    
}

.input-box input{
    width: 640px;
    height: 67px;
    border: none;
    font-size: 30px;
    color: #606266;
    overflow: hidden;
}

.input-box button{
    width: 100px;
    height: 67px;
    background-color: #F03F45;
    font-size: 20px;
    border: none;

}

/* End-input-box */

.content-box-1{
    margin-top: 40px;
    height: 135px;
    background-color: #F9FAFC;
    padding: 5px;
}

.announce{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #F9FAFC;
}

.content-1{
    width: 95%;
    height: 125px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #F9FAFC;
    font-size: 24px;
    overflow: hidden;
    animation: blinker 2s step-start infinite;
    color: #606266;

}

.content-2{
    width: 100%;
    display: flex;
    /* margin-right: 30px; */
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #F9FAFC;
    font-size: 24px;
    overflow: hidden;
    animation: blinker 2s step-start infinite;
    color: #606266;
    /* -webkit-animation: flash linear 1.7s infinite;
  animation: flash linear 1.7s infinite;
  */
} 

/* @-webkit-keyframes flash {
    0% { opacity: 0; } 
    80% { opacity: 1; color: #F03F45; } 
    83% { opacity: 0; color:#F03F45; } 
    86% { opacity: 1; color:#F03F45;}  
    89% { opacity: 0} 
    92% { opacity: 1; color:#F03F45;} 
    95% { opacity: 0; color:#F03F45;}
    100% { opacity: 1; color:#F03F45;}
  }
  @keyframes flash {
    0% { opacity: 0; } 
    80% { opacity: 1; color:#F03F45; } 
    83% { opacity: 0; color:#F03F45; } 
    86% { opacity: 1; color:#F03F45;}  
    89% { opacity: 0} 
    92% { opacity: 1; color:#F03F45;} 
    95% { opacity: 0; color:#F03F45;}
    100% { opacity: 1; color:#F03F45;}
  } */

@keyframes blinker {
    50% {
      opacity: 1; color: #F03F45
    }
  }

.content-box-2{
    height: 320px;
    background-color: #FFFFFF;
}

.card-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 45px;
}

.card-content-item-1{
    text-align: center;
    background-color: #FFFFFF;
    height: 200px;
    width: 57%;
    border: 1px solid #EBEEF5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px #b8bdc2;
}

.card-content-item-1 a{
    color: #F03F45;
    font-size: 500%;
    margin: 0 auto;
    overflow: hidden;
}

.card-content-item-2 a{
    color: #F03F45;
    font-size: 500%;
    margin: 0 auto;
    overflow: hidden;
}

.card-content-item-2{
    text-align: center;
    margin-right: 100px;
    background-color: #FFFFFF;
    height: 200px;
    width: 100%;
    border: 1px solid #EBEEF5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px #b8bdc2;
}

/* End content2 */

.content-box-3{
    height: 500px;
    background-color: #F9FAFC;
    padding-top: 60px;
}

.cost-box{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item-1{
    width: 99%;
    height: 400px;
    background-color: #F9FAFC;
}

.head-text{
    font-size: 28px;
    font-weight: lighter;
}

.grid-item-2{
    width: 99%;
    height: 400px;
    background-color: darkblue;
}

#postal-1{
    width: 90%;
    height: 50px;
    margin-top: 45px;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
}

#postal-2{
    width: 90%;
    height: 50px ;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
}

.weight{
    width: 90%;
    margin-top: 22px;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.Weight{
    font-size: 16px;
    color: #606266;
    margin-right: 35px;
    margin-left: 10px;
    overflow: hidden;
}

.weight input{
    width: 10%;
    height: 40px;
    font-size: 20px;
    border: none;
    border-left: 1px solid ;
}

.kg{
    margin-left: 370px;
}

.value{
    width: 90%;
    margin-top: 22px;
    border-radius: 5px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.value input{
    margin-left: 50px;
    width: 30%;
    height: 40px;
    font-size: 20px;
    border: none;
}

.endcy{
    margin-top: 6px;
    font-size: 15px;
    color: #909399;
}

/* End box3 */
footer{
    height: 200px;
    background-color: #303133;
}

.footer-bar{
    display: flex;
    background-color: #303133;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

.footer-bar li{
    list-style: none;
}

ul.footer li{
    list-style: none;
    display: flex;
}

ul.footer li a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
}

.footer-bar cite{
    color: white;
}

.card-content{
    position: relative;
  animation-name: content;
  animation-duration: 4s;  
  animation-fill-mode: forwards;
}

@keyframes content {
    from {top: 200px;}
    to {top: 0px;}
  }

.announce{
    position: relative;
  animation-name: announce;
  animation-duration: 2s;  
  animation-fill-mode:forwards;
}

@keyframes announce {
    from {right: 400px;}
    to {right: 0px;}
  }