*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-web{
    max-width: 1600px;
    margin: 0 auto;
    
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    background: #303133;
    }  

ul.menu{
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

ul.menu li{
    list-style: none;
    margin-right: 30px;
}

ul.menu li a{
    color: white;
    text-decoration: none;
}

/* End Nav-bar */

nav1 {
    display: flex;
    height: auto;
    background: #F03F45;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle { 
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    
}

.logo {
    margin: 40px 0 40px 0;
}

ul1 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul1 li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 5px 10px;
    
}

ul1 li a {
    text-decoration: none;
    color: white;
    
}

ul1 li:first-child {
    margin-top: 0;
}



.active {
    display: flex;
}

@media screen and (min-width: 1000px) {
    nav1 {
        height: 80px;
        flex-direction: row;
    }
    .logo {
        padding-left: 50px;
        margin: 0;
        width: 0;
    }
    ul1 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    ul1 li{
        font-size: 15px;
        display: inline-block;
        margin: 0 50px 0 50px;
        text-align: center;
        border-bottom-style:none;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }
}

/* End nav-bar-menu */

/* End nav-bar-menu */
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.track
{
    position: relative;
    width: 900px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
/* search */
.input
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]
{
    border-radius: 25px 0 0 25px;
    width: 290px;
    height: 40px;
    padding: 0 25px;
    border: none;
    outline: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
input[type="submit"]
{
    position: relative;
    left: -5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    background: rgba(29,161,242,1.00);
    border: none;
    outline: none;
}

/* footer */
.container-fluid
{
    width: auto;
    height: auto;
    background: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}
.container-fluid p
{
    color: #fff;
}
.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}